.label {
  text-align: right;
  align-items: right;
  position: absolute;
  top: 250px;
  left: 100px;
}

.label .text-wrapper {
  color: #000000;
  font-family: roboto;
  font-size: 100px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label .text-wrapper2 {
  color: #d4842b;
  font-family: roboto;
  font-size: 100px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label .text-wrapper3 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(212, 132, 43) 0%,
    rgb(10.63, 10.63, 10.63) 85.94%
  );
  background-clip: text;
  color: transparent;
  font-family: roboto;
  font-size: 100px;
  font-weight: 800;
  left: 0;
  width: 100%;
}

.label2 {
  margin-top: 10px;
}

.label .text-wrapper4 {
  color: #000000;
  font-family: roboto;
  font-size: 30px;
  margin-top: 5px;
  letter-spacing: 3px;
  width: 100%;
}

.download {
  margin-top: 80px;
  align-items: center;
  background-color: #d4842b;
  border-radius: 100px;
  display: flex;
  gap: 22px;
  height: 64px;
  justify-content: center;
  padding: 4px 8px 4px 8px;
  position: absolute;
  right: 0px;
  width: 220px;
}

.label .text-wrapper5 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

/*background image */
.page-image {
  position: absolute;
  left: 95%;
  top: -100px;
  width: 100%;
  height: 100%;
}

.page-image img {
  width: 80%;
}
